<% provide(:title, @warehouse.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @warehouse.name %></h1>
      <li><%= @warehouse.street %></li>
      <li><%= @warehouse.city %></li>
      <li><%= @warehouse.state %></li>
      <li><%= @warehouse.zip %></li>
      <li><%= @warehouse.phone %></li>
      <% if current_user.try(:admin?) %>
        <%= link_to 'Edit', edit_warehouse_path(@warehouse) %>
      <% end %>  
    </section>
  </aside>
</div>
